<div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
        <br />
        <h1>Which side of the headphones will you be on?</h1>
        <br />
        <h2>Today is your day to become a musician.</h2>
        <br />
        <%= link_to  'Learn More', '#', class: 'btn btn-success' %>
        <br />
    </div>
</div>

<br />
<div class="feature row text-center">
    <div class="col-12 col-sm">
        <h3>Designed for You</h3>
        <br />
        <p>Each lesson is personalized based on your goals and ability.</p>
    </div>
    
    <div class="col-12 col-sm">
        <h3>Musicians to the Rescue</h3>
        <br />
        <p>With a community of excellent musicians to back you up, you'll be able to accomplish anything!</p>
    </div>
    
    <div class="col-12 col-sm">
        <h3>Face-to-Face Lessons</h3>
        <br />
        <p>To help reinforce what you have learned and get rid of any bad habits before they start, you'll have weekly face-to-face lessons with an awesome instructor.</p>
    </div>
</div>